nav {
    position: relative;
    width: auto;
}

.about-desc {
    max-width:90%;
    margin: 2rem auto;
    text-align: left;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }