@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.home-component {
    display: flex;
    flex-direction: column;
}

/* The home hero component in the home page */
.home-hero {
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

/* Pending to be commented */
.saveMore {
    font-family: "Avenir Next", "Avenir", sans-serif; /* General Font */
    font-weight:400;
    padding: 10px;
    border:0.5px solid white;
    display:inline-block;
}