body {
    position: absolute;
    color: black;
    width: 100%;
    background: white;
}


.container-login-image {
    left: 0px;
    top: 0px;
}

.container-login-image img {
    width: 100%;
}

.login-greeting {
    color: black;
}
.login-greeting h3{
    width: 40%;
    margin: 0 auto;
}

.login-greeting p {
    margin-top: 10px;
    margin-bottom: -10%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}

input[type="text"], input[type="password"],input[type="email"], textarea {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    outline: none;
  }
  
  input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus, textarea:focus {
    background-color: #fff;
    box-shadow: 0 0 10px #4CAF50;
  }
  

form label {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size:17px;
    color: black;
}

#loginButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  

@media screen and (max-width: 675px) {
    form {
        width: 50%;
        margin-top: 20%;
    }

    .artist-name {
        font-size:10px;
    }

    .container-login {
        background: white;
        padding-top: 10px;
        border-radius: 50px 50px 0 0;
        position: absolute;
        width: 100%;
        margin-top: -10%;
        height:100%;
    }

    #loginButton {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1rem 2px;
        cursor: pointer;
        border-radius: 5px;
      }
      
      
}