body {
    position: absolute;
    color: black;
}

.container-login {
    background: white;
    padding: 30px 13px;
    border-radius:50px 50px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

.container-login-image {
    left: 0px;
    top: 0px;
}

.login-greeting {
    color: black;
}
.login-greeting h3{
    width: 40%;
    margin: 0 auto;
}

.login-greeting p {
    margin-top: 10px;
    margin-bottom: -10%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
}

form input {
    margin-top: 1rem;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

form label {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size:17px;
    color: black;
}

#loginButton {
    text-decoration: none;
    text-transform: none;
    color: white;
    text-shadow: none;
    margin:3rem auto;
}

#loginButton:hover {
    border: 2px #426DFB solid;
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
}

@media (max-width: 675px) {
    form {
        width: 50%;
        margin-top: 20%;
    }

    .artist-name {
        font-size:10px;
    }
}