.foodInfo-general {
  display:flex;
  justify-content: space-between;
  overflow-x: auto;
}
.foodInfo-general > * {
  cursor: pointer;
}
.box-info {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 190px;
  height: 130px;
  display: inline-block;
  vertical-align: top;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-appearance: none;
}

.box-info:-webkit-scrollbar {
  display: none;
}
.box-info p{
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-info:hover {
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ingredients-list {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ingredients-list ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

.ingredients-list li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.ingredients-list li:last-child {
  border-bottom: none;
}

.ingredients-list li::marker {
  color: #007bff;
}

.notes {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}

.notes p {
  margin: 0;
  padding: 0;
}

.notes p:first-child {
  margin-top: 0;
}

.notes p:last-child {
  margin-bottom: 0;
}

.notes p::selection {
  background-color: #f2f2f2;
}

.notes p::-webkit-scrollbar {
  display: none;
}
/* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Table header */
  th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  /* Table body */
  td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    color: #333;
  }
  
  /* Table row hover effect */
  tr:hover {
    background-color: #f1f1f1;
  }
  /* Mobile responsive adjustments */
  @media (max-width: 600px) {
    table {
      font-size: 12px;
    }
  
    th, td {
      padding: 8px;
    }
  }
  