#navigation-items-mobile{
    display:flex;
    flex-direction: row;
    background-color:rgb(17, 155, 235);
    padding:15px;
    top:0;
    margin-top:0;
}

#navigation-items-mobile li {
    padding:0 0.5rem;
    list-style-type:none;
    margin: 0 auto;
}

li a {
    text-transform: none;
    text-decoration: none;
    color:white;
}