h3 {
  text-decoration: none;
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* New user modal */
.welcome-message {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
  color: #333;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.Profile {
  max-width: 70%;
  margin: 5% auto;
  padding: 20px;
}

.profile-cover-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: var(--background-image, url("https://i.pinimg.com/736x/4b/fc/22/4bfc222e8e5e7d9939a91cded073701a.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px 15px 0 0;
}

/* Profile picture styling */
.profile-picture {
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  bottom: -20px; /* Adjusts to place half of the image out of the cover */
  left: 20px; /* Positions it from the left edge */
  transform: none; /* No transformation needed */
}

#changeBackground-button {
  text-transform: none;
  text-decoration: none;
  background: gray;
  opacity: 0.5;
  border-radius: 10px;
  width: 170px;
  max-width: 175px;
  padding: 1.5px;
  position:absolute;
  font-size: 12px;
  right: 0;
}

.edit-profileButton {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

#signOutButton {
  padding: 10px;
  font-size: 12px;
  background: #2e2e2e;
  text-align: center;
  position: relative;
  align-items: center;
  width: 60%;
  opacity: 0.4;
  transition: 0.2s ease-in-out;
}

#signOutButton:hover, .settingsIcon:hover {
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.settingsIcon {
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
  margin: 0.435rem 0 0 0;
  opacity: 0.4;
  transition: 0.2s ease-in-out;
}

#profile-img {
  margin: 1.23rem 0;
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0;
  opacity: 0.8;
  width: 100%;
}

.user-info-general {
  display: flex;
  flex-direction: column;
}

#storingInfo {
  padding: 10px;
  width: fit-content;
  display: flex;
}

#storedFood {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  background-color: rgb(227, 223, 253);
  height: fit-content;
  padding: 5px;
  width: 110px;
  border-radius: 7px;
}

#consumedFood {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  background-color: #d1e3f8;
  height: fit-content;
  padding: 5px;
  width: 110px;
  border-radius: 7px;
}

#storedFood span{
  color: #573CE2;
}

#consumedFood span {
  color: #4797ec;
}

#userDescription {
  text-align: left;
}

#userLocation, #userJoined, #userName {
  display: flex;
  padding: 0 5px 5px 5px;
  font-size: 12px;
}

.general-user-info {
  display: flex;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: none;
  align-items: center;
}

.nav-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #fff;
  position: relative;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.Profile h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.Profile p {
  text-align: center;
  margin-bottom: 20px;
}

.Profile form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.Profile input[type="checkbox"] {
  margin-right: 10px;
}

.Profile button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Profile button:hover {
  background-color: #555;
}

/* Checkbox styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #4caf50!important;
}

.form-row {
  display: flex;
}

.form-row label {
  margin-right: 10px;
}

.checkbox-allergies {
  margin-right: 6px;
}

#menu-profile-tab {
  background: #4caf50;
  max-width: 25%;
  padding: 20px;
  margin: 0 auto 5% auto;
  border-radius: 10px;
  /* Show items in a nice order */
  display: flex;
  justify-content: space-between;
}

/* Prime React checkboxes */
.p-checkbox {
  position:initial!important;
}

#menu-tab-item {
  text-decoration: none;
  color: white;
  width: 200px;
}

/* Transition Effect for each tab component */
.transition-fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.transition-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.transition-fade {
  position: relative;
}

.transition-fade > * {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.currentTab {
  background-color: white;
  color: black;
}

/* Utilities Card Box */
.shoppingList , .manageSubscription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.p-button {
  margin: 0!important;
}
.p-button.p-button-icon-only {
  width: 2em!important;
  height: 2em!important;
}

/* Apply styles to all <hr> elements */
hr {
  width: 75%;
  margin: 5% auto;
  opacity: 0.2;
}

/* Remove styles from the last <hr> element */
hr:last-child {
  width: 75%;
  margin: 5% auto 0 auto;
  opacity: 0.2;
}
/* Media queries for responsiveness */

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-row label {
    margin-right: 0;
    margin-bottom: 5px;
  }
  #menu-profile-tab {
  max-width: 50%;
  }
}


@media only screen and (max-width: 768px) {

  h3 {
    max-width: 90%!important; /* Resetting the max value for mobile */
  }
  .Profile {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  /* Background image set*/
  .profile-cover-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: var(--background-image, url("https://i.pinimg.com/736x/4b/fc/22/4bfc222e8e5e7d9939a91cded073701a.jpg"));
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px 15px 0 0;
  }
  
  /* Profile picture styling */
  .profile-picture {
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: -20px; /* Adjusts to place half of the image out of the cover */
    left: 20px; /* Positions it from the left edge */
    transform: none; /* No transformation needed */
  }
  
  #changeBackground-button {
    text-transform: none;
    text-decoration: none;
    background: gray;
    opacity: 0.5;
    border-radius: 10px;
    width: 25%;
    padding: 2px;
    position:absolute;
    font-size: 12px;
    right: 0;
  }

  .form-container {
    width: 100%;
  }

  .Profile label {
    font-size: 1rem;
  }

  .Profile button {
    font-size: 1rem;
  }

  #userDescription, #userName, #userLocation, #userJoined {
    font-size: 11px;
  }

  .general-user-info {
    align-items:flex-start;
  }

  #profile-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .user-info-general {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #storingInfo {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  #userDescription, .general-user-info {
    width: max-content;
  }
  

  /* Utilities Card Box */
.shoppingList , .manageSubscription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.p-button {
  margin: 0!important;
}
.p-button.p-button-icon-only {
  width: 3em!important;
  height: 3em!important;
}
}
