/* Show profile styling */
.showProfileName {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 20% auto;
    flex-direction: column;
}
.showProfileName h4 {
    margin-left: 1.125vh;
}