/* Show profile styling */
.showProfileName {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 5rem auto;
    flex-direction: column;
    color: black;
}
.showProfileName h4 {
    margin-left: 1.125vh;
}