* {
padding: 0;
margin: 0; /* Resetting the values */
}

.list-item {
    max-width: 50%;
    margin: 9px auto;
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
}

.buttonDelete {
    width:auto;
    font-size: 0.6rem;
    margin-left: 1rem
}

.unordered-list-cont li{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .shopping-list-toolbar {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 5% auto;
    }
    .inputElement {
        border: 2px solid rgb(142, 0, 230);
    }
}