/* subscription-comparison.css */

.subscription-comparison {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
  }
  
  .subscription-comparison th,
  .subscription-comparison td {
    padding: 1rem;
    border: 1px solid #ddd;
    width: 9%;
    text-align: left;
  }
  
  .subscription-comparison thead th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .subscription-comparison .limited {
    color: #ccc;
  }
  